{;;:paths ["src/cljs"]
 :deps
 {#_#_cljs-bean                  {:mvn/version "1.5.0"}
  lilactown/helix            {:mvn/version"LATEST"}
  lilactown/thump                 {:git/url "https://github.com/Lokeh/thump"
                                   :sha "b269bbceb66bf69861f51caebee9f1d6a369f779"}
  #_#_fipp                       {:mvn/version "LATEST"}
  thheller/shadow-cljs       {:mvn/version "LATEST"}
  org.clojure/core.async {:mvn/version "1.5.648"}}


;;  lilactown/hx/0.5.0-SNAPSHOT/hx-0.5.0-20190425.151107-2.pom
 :aliases
 {:dev
  {:extra-deps
   {
    #_#_ cider/piggieback {:mvn/version "0.4.2"}
     binaryage/devtools {:mvn/version "1.0.0"}
     cider/cider-nrepl  {:mvn/version "0.24.0"}}}}}





     
     
     
     

 
